body{
    display: grid;
    grid-template: 100px auto 80px / 23vw 50vw 27vw;
    grid-template-areas: 
      "header header header"
      "esquerda centro direita"
      "footer footer footer";
    background: var(--gradiente);
    font-family: var(--font-roboto);
    font-weight: 500;
}

.cabecalho{
    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-centro{
    grid-area: centro;
}

.aside-direito{
    grid-area: direita;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aside__container__esquerdo{
    grid-area: esquerda;
}

.footer{
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;
}