body{
    display: grid;
    width: 100vh;
    grid-template: 100px 80vh 80px / 14vw 55vw 30vw;
    grid-template-areas: 
      "header header header"
      "esquerda centro direita"
      "footer footer footer";
    background-color: var(--cor-cinza-escuro);
}

.cabecalho{
    grid-area: header;
    background-color: var(--cor-azul-escuro);
}

.main-centro{
    grid-area: centro;
}

.aside-direito{
    grid-area: direita;
}

.aside-esquerda{
    grid-area: esquerda;
}

.footer{
    grid-area: footer;
    background-color: var(--cor-azul-escuro);
}