body{
    display: grid;
    width: 100vh;
    grid-template: 100px auto 80px / 14vw 55vw 30vw;
    grid-template-areas: 
      "header header header"
      "esquerda centro direita"
      "footer footer footer";
    background-color: var(--cor-cinza-escuro);
    font-family: var(--font-roboto);
    font-weight: 500;
}

.cabecalho{
    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-centro{
    grid-area: centro;
}

.aside-direito{
    grid-area: direita;
}

.aside-esquerda{
    grid-area: esquerda;
}

.footer{
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;
}