@media only screen and (min-width: 280px) and (max-width: 879px){
    body{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "select"
            "centro"
        ;
    }

    .cabecalho{
        grid-area: header;
        margin-bottom: 1rem;
    }

    .input__pesquisa{
        margin: .5rem;
    }
    
    /*container menu*/
    .aside__container__esquerdo{
        grid-area: select;
    }

    /*main centro lugar que vai aparecer os card dos pokemons*/
    .main-centro{
        grid-area: centro;
    }

    .lista__pokedex{
        padding: 0;
    }

    .logoPokemon{
        display: none;
    }

    .cardPokemons{
        width: 9rem;
    }

    .aside-direito{
        grid-area: centro;
    }
}
