:root{
    --cor-azul-escuro:#92C7CF;
    --cor-azul-claro:#AAD7D9;
    --cor-cinza-escuro:#E5E1DA;
    --cor-cinza-claro:#FBF9F1;
    --gradiente: linear-gradient(53deg, #e6e6e6 20%, #f2f2f2 40%, #ffffff 90%);
    --font-roboto: "Roboto";
}

/*Cabecalho*/
.container__cabecalho{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
  padding: 0.2rem;
  width: 30%;
  height: 100px;

  background-color: var(--cor-azul-escuro);
  border-radius: 64px;
  border: 1px solid var(--cor-azul-escuro);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.titulo_cabecalho{
    font-size: 2rem;
}

/*main-centro*/
.container__input{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
}

.input__pesquisa{
    width: 73%;
    height: 50px;
    
    background-image: url("../img/pokeball.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;

    border-radius: 32px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.lista__pokedex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

/*aside-direito*/

/*esse estilo esta sento aplicato para todos elementos de card do bootstrap*/
.card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    width: 12rem;
}

.cardStatus{
    width: 20rem;
    height: 35rem;

    position: fixed;
    top: 15%;
    right: 5rem;
}

/*Aside esquerda*/

.container__select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
    height: 550px;
    width: 20rem;

    border: 1px solid #ccc;
    border-radius: 16px;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
   
    position: fixed;
    top: 15%;
    left: 5rem;
}

.imgPokebola{
    width: 50px;
}

.form-select{
    width: 80%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.home{
    text-decoration: none;
}

.modoClaroEmodoVoltar{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.minhas__redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 83%;
    height: 70px;
    padding: .3rem;
    position: absolute;
    bottom: 1%;
  
    background-color: var(--cor-azul-escuro);
    border-radius: 64px;
    border: 1px solid var(--cor-azul-escuro);
  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.titulo__rede{
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
}

.btn-filtrar{
    background-color: var(--cor-azul-claro);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    font-family: var(--font-roboto);
}

.btn-filtrar:hover{
    background-color: var(--cor-azul-escuro);
}