@import url(../variaveis.css);

/*container input do aside esquerdo*/
 .input__pesquisa{
     width: 72%;
     height: 50px;
     background-image: url("../img/magnifying-glass.svg");
     background-repeat: no-repeat;
     background-position: 95%;
     border-radius: 32px;
     border: none;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .input__pesquisa::placeholder{
     font-size: 12px;
 }

 .selectTipos{
    width: 60%; 
    height: 50px;
 }
 
/*Aside esquerda*/

.container__select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
    height: 450px;
    width: 20rem;

    border-radius: 16px;
    background: var(--card);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color:var(--title);
}

.imgPokebola{
    width: 70px;
}

.home{
    text-decoration: none;
}

.modoClaroEmodoVoltar{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.minhas__redes{
    background-color: var(--cor-azul-escuro);
    border-radius: 64px;
    border: 1px solid var(--cor-azul-escuro);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: .8rem;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.titulo__rede{
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
}

.offcanvas{
    background: var(--backgroud);
}
