@import url(../variaveis.css);

/*Cabecalho*/
.container__cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  
    margin-top: 1rem;
    padding: 0.2rem;
    width: 20rem;
    height: 100px;
  
    background-color: var(--card);
    border-radius: 32px;
  
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  