@import url(../variaveis.css);

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-saberMais{
   background-color: var(--cor-azul-claro);
   border-radius: 16px;
}

.btn-saberMais:hover{
    background-color: var(--cor-azul-escuro);
}

.img-saberMais{
    width: 60%;
}

.card-title{
    font-size: 1.5rem;
}

.card-text{
    font-size: 1.2rem;
    margin: 0;
}

.card-tipo-pai{
    border-radius: 8px;
    margin: .5rem;
    padding: .2rem;
}

.card-atriFisico{
    border-radius: 8px;
    background-color: var(--cor-cinza-escuro);
    padding: .4rem;
    margin: .5rem;
}

.cardStatus{
    width: 20rem;
    height: 45rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}




