@import url(../variaveis.css);

/*main-centro*/
 .lista__pokedex{
    height: 84vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    border-radius: 24px;
 }

.card-body-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 .5rem 0;
}

.img-card-pokemon{
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 
    0 2px 4px rgba(255, 255, 255, 0.1), 
    0 4px 8px rgba(255, 255, 255, 0.05);
}

.btn-saberMais{
    background-color: var(--cor-cinza-escuro);
    height: 35px;
}

.logoPokemon{
    width: 480px;
}