@import url(../variaveis.css);

/*estilo colocado em todos os botao*/
.botao{
    font-family: var(--font-roboto);
    font-weight: 500;
    background: none;
    border: none;
    border-radius: 32px;
    margin-left: 0.8rem;
    text-decoration: none;
    box-shadow: 
    0 2px 4px rgba(255, 255, 255, 0.1), 
    0 4px 8px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.botao:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

/*botao do header*/
.btn-mudarCor{
    color: var(--cor-cinza-claro);
    width: 6rem;
    background: var(--backgroud);
}

.btn-home{
    width: 6rem;
    background: var(--backgroud);
}

.titulo-header{
    padding: 0 1rem;
}

/*botao do main*/
.btn-saberMais{
    background: var(--cor-cinza-escuro);
    height: 40px;
}

/*botao do aside-esquerdo*/
.btn-pesquisar {
    background: var(--backgroud);
    color: var(--cor-cinza-claro);
}

.btn-header{
    background: var(--backgroud);
    color: var(--cor-cinza-claro);
    border: none;
}

.btn-filtrar{
    color: var(--cor-cinza-claro);
    background: var(--backgroud);
    width: 130px;
 }
 
.btn-filtrar:hover{
   
}
 

/*botao do aside-direito*/
.btn-fechar, .btn-adicionar, .btn-remover{
    border-radius: 50%;
    border: none;
    background-color: var(--card);
}