@import url(../variaveis.css);

#myDialog{
    box-shadow: 
    0 2px 4px rgba(255, 255, 255, 0.1), 
    0 4px 8px rgba(255, 255, 255, 0.05);
    border-radius: 32px;
    border: none;
}   

#myDialog::backdrop{
    background:  rgba(0, 0, 0, 0.5);
}