.grass{
    background: linear-gradient(135deg, #50C878, #2E8B57);
}

.poison{
    background: linear-gradient(135deg, #8A2BE2, #4B0082);
}

.fire{
    background: linear-gradient(135deg, #E25822, #A83212);
}

.flying {
    background: linear-gradient(135deg, #AFEEEE, #87CEEB);
}

.water {
    background: linear-gradient(135deg, #4169E1, #1E90FF);
}

.bug {
    background: linear-gradient(135deg, #00FA9A, #3CB371);
}

.normal {
    background: linear-gradient(135deg, #E5E1DA, #D3CFC4);
}

.electric {
    background: linear-gradient(135deg, #FFEF00, #FFD700);
}

.ground {
    background: linear-gradient(135deg, #C2B280, #8B795E);
}

.fairy {
    background: linear-gradient(135deg, #FFD1DC, #FFB6C1);
}

.fighting {
    background: linear-gradient(135deg, #B7410E, #8B0000);
}

.psychic {
    background: linear-gradient(135deg, #800080, #DA70D6);
}

.rock {
    background: linear-gradient(135deg, #A0522D, #8B4513);
}

.ice {
    background: linear-gradient(135deg, #E0FFFF, #B0E0E6);
}

.ghost {
    background: linear-gradient(135deg, #F8F8FF, #D8BFD8);
}

.dragon {
    background: linear-gradient(135deg, #C0C0C0, #A9A9A9);
}
