:root{
    --cor-azul-escuro:#48D0B0;
    --cor-azul-claro:#3466AF ;
    --cor-cinza-escuro:#B3B6B7;
    --cor-cinza-claro:#FBF9F1;
    --backgroud: linear-gradient(to bottom, #5bc0f8, #1c1c3c);
    --card: #202428;
    --title: #000;
    --border: #ccc;

    --title-black: #fff;
    --background-dark: rgb(21, 32, 43);
    --dark-items: rgba(29, 161, 242, 0.1);
    --card-dark: rgb(37, 51, 65);
    --font-roboto: "Roboto";
}