:root{
    --cor-azul-escuro:#48D0B0;
    --cor-azul-claro:#3466AF ;
    --cor-cinza-escuro:#B3B6B7;
    --cor-cinza-claro:#FBF9F1;
    --backgroud: linear-gradient(to bottom, #5bc0f8, #1c1c3c);
    --card: #202428;
    --title: #000;
    --border: #ccc;
    --font-roboto: "Roboto";
}